 <% if @post.errors.any? %>
        <div class="errors">
          Total errors: <%= @post.errors.count %>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<% if current_user  %>
	<%= form_with url: posts_path, scope: :post, local: true do |f| %>
		<%= f.text_field :title %>
		<%= f.file_field :images, multiple: true %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.submit %> 
	<% end %>
<% end %>